## Project 3: Build Decision Tree for Bank Loan Modelling
* DV - "Personal Loan"
* IDV - Output of RF Algorithm

In [55]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

In [56]:
df=pd.read_excel("D:/DS/AI ML DL/Let'sUpgrade/Class Materials/day 24/Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [58]:
df.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [59]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,5000.0,2500.500000,1443.520003,1.0,1250.75,2500.5,3750.25,5000.0
Age,5000.0,45.338400,11.463166,23.0,35.00,45.0,55.00,67.0
Experience,5000.0,20.104600,11.467954,-3.0,10.00,20.0,30.00,43.0
Income,5000.0,73.774200,46.033729,8.0,39.00,64.0,98.00,224.0
ZIP Code,5000.0,93152.503000,2121.852197,9307.0,91911.00,93437.0,94608.00,96651.0
Family,5000.0,2.396400,1.147663,1.0,1.00,2.0,3.00,4.0
CCAvg,5000.0,1.937913,1.747666,0.0,0.70,1.5,2.50,10.0
Education,5000.0,1.881000,0.839869,1.0,1.00,2.0,3.00,3.0
Mortgage,5000.0,56.498800,101.713802,0.0,0.00,0.0,101.00,635.0
Personal Loan,5000.0,0.096000,0.294621,0.0,0.00,0.0,0.00,1.0
Securities Account,5000.0,0.104400,0.305809,0.0,0.00,0.0,0.00,1.0
CD Account,5000.0,0.060400,0.238250,0.0,0.00,0.0,0.00,1.0
Online,5000.0,0.596800,0.490589,0.0,0.00,1.0,1.00,1.0
CreditCard,5000.0,0.294000,0.455637,0.0,0.00,0.0,1.00,1.0

### Dropping unnecessary columns

In [60]:
df=df.drop(['ID','ZIP Code'],axis=1)
df.head(2)

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0

In [61]:
df.columns

Index(['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Personal Loan', 'Securities Account', 'CD Account',
       'Online', 'CreditCard'],
      dtype='object')

In [62]:
X=df[['Age', 'Experience', 'Income', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard']]

In [63]:
Y=df['Personal Loan']

In [64]:
Dt=DecisionTreeClassifier(max_depth=9)

In [65]:
Dt.fit(X,Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=9, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [66]:
Dt.score(X,Y)

0.9974

### Finding important Variables with RandomForest

In [67]:
from sklearn.ensemble import RandomForestClassifier

In [68]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [69]:
rf_model.fit(X,Y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [70]:
print("OOB Accuracy:",rf_model.oob_score_)

OOB Accuracy: 0.988

In [71]:
features=['Age', 'Experience', 'Income', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard']

In [72]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

Age 0.04407768141008607
Experience 0.04444407178166347
Income 0.3477509693307025
Family 0.09789291512376577
CCAvg 0.1856576753005961
Education 0.15977228461262266
Mortgage 0.04340840956744246
Securities Account 0.005500870015488473
CD Account 0.0535266232444154
Online 0.008327250458034001
CreditCard 0.009641249155183367

### Important features: Income,CCAvg, Education

In [73]:
X=df[['Income','CCAvg', 'Education']]

In [74]:
Dt=DecisionTreeClassifier(max_depth=6)

In [75]:
Dt.fit(X,Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [76]:
Dt.score(X,Y)

0.9738

### After finding Important Variables Accuracy is 97%

In [77]:
features=['Income','CCAvg', 'Education']

In [78]:
with open("D:/DS/AI ML DL/Let'sUpgrade/Class Materials/day 24/Bank_Loan_Modelling.dot",'w') as f:
    f=tree.export_graphviz(Dt,feature_names=features,out_file=f);

### Decision Tree details:

In [79]:
from sklearn.tree import export_text

In [80]:
r=export_text(Dt,feature_names=features)
print(r)

|--- Income <= 113.50
|   |--- CCAvg <= 2.95
|   |   |--- Income <= 106.50
|   |   |   |--- class: 0
|   |   |--- Income >  106.50
|   |   |   |--- Education <= 1.50
|   |   |   |   |--- CCAvg <= 0.35
|   |   |   |   |   |--- CCAvg <= 0.25
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- CCAvg >  0.25
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- CCAvg >  0.35
|   |   |   |   |   |--- Income <= 109.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Income >  109.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |--- Education >  1.50
|   |   |   |   |--- CCAvg <= 1.65
|   |   |   |   |   |--- CCAvg <= 0.30
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- CCAvg >  0.30
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- CCAvg >  1.65
|   |   |   |   |   |--- CCAvg <= 2.45
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- CCAvg >  2.45
|   |   |   |   |   |   |--- class: 0
|   |--- CCAvg >  2.95
|   |   |--- Income <= 82.50
|   |   |   |--- CCAvg <= 3.55
|   |   |   |   |--- CCAvg <= 3.45
|   |   |   |   |   |--- CCAvg <= 3.25
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- CCAvg >  3.25
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- CCAvg >  3.45
|   |   |   |   |   |--- class: 1
|   |   |   |--- CCAvg >  3.55
|   |   |   |   |--- Income <= 81.50
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- Income >  81.50
|   |   |   |   |   |--- CCAvg <= 3.75
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- CCAvg >  3.75
|   |   |   |   |   |   |--- class: 0
|   |   |--- Income >  82.50
|   |   |   |--- Education <= 1.50
|   |   |   |   |--- CCAvg <= 4.25
|   |   |   |   |   |--- CCAvg <= 4.05
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- CCAvg >  4.05
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- CCAvg >  4.25
|   |   |   |   |   |--- CCAvg <= 4.65
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- CCAvg >  4.65
|   |   |   |   |   |   |--- class: 0
|   |   |   |--- Education >  1.50
|   |   |   |   |--- Income <= 92.50
|   |   |   |   |   |--- Education <= 2.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Education >  2.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- Income >  92.50
|   |   |   |   |   |--- CCAvg <= 4.60
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- CCAvg >  4.60
|   |   |   |   |   |   |--- class: 1
|--- Income >  113.50
|   |--- Education <= 1.50
|   |   |--- CCAvg <= 6.63
|   |   |   |--- CCAvg <= 6.55
|   |   |   |   |--- CCAvg <= 4.05
|   |   |   |   |   |--- Income <= 159.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Income >  159.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- CCAvg >  4.05
|   |   |   |   |   |--- Income <= 179.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Income >  179.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |--- CCAvg >  6.55
|   |   |   |   |--- class: 1
|   |   |--- CCAvg >  6.63
|   |   |   |--- Income <= 176.50
|   |   |   |   |--- CCAvg <= 6.95
|   |   |   |   |   |--- CCAvg <= 6.85
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- CCAvg >  6.85
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- CCAvg >  6.95
|   |   |   |   |   |--- class: 0
|   |   |   |--- Income >  176.50
|   |   |   |   |--- Income <= 178.50
|   |   |   |   |   |--- CCAvg <= 7.60
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- CCAvg >  7.60
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- Income >  178.50
|   |   |   |   |   |--- CCAvg <= 8.05
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- CCAvg >  8.05
|   |   |   |   |   |   |--- class: 0
|   |--- Education >  1.50
|   |   |--- Income <= 116.50
|   |   |   |--- CCAvg <= 2.15
|   |   |   |   |--- CCAvg <= 0.55
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- CCAvg >  0.55
|   |   |   |   |   |--- Income <= 114.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Income >  114.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |--- CCAvg >  2.15
|   |   |   |   |--- CCAvg <= 4.00
|   |   |   |   |   |--- CCAvg <= 3.35
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- CCAvg >  3.35
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- CCAvg >  4.00
|   |   |   |   |   |--- class: 1
|   |   |--- Income >  116.50
|   |   |   |--- class: 1